body {
  /*Linen background, this one has white container and footer space*/
  /*background: url("../img/body-bg.png");*/
  /*background-color: #F9FCFE;*/
  background: url("../img/notes.png");
  background-size: cover;
}
.box-parent {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.transparent-box {
  opacity: 0.35 !important;
}
.action_buttons .btn {
  margin-right: .25rem;
  padding: 0px 1rem;
}
.ajaxErrorList ul {
    margin: 0px;
    padding: 0px;
    color: red;
}
.ajaxErrorList li {
    margin: 0px;
    padding: 0px;
    color: red;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar { fill: #1072b8; }
.bar:hover { fill: #35526b; }
.blue_byu {
  background-color: #002255 !important; }
.blue_byu2 {
  background-color: #336699 !important; }
.blue_byu_darkest {
  background-color: #001948 !important; }
.byu_logo {
  vertical-align: middle;
  background-color: transparent;
  margin-left: 10px;
}
.byu_tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  height: 48px;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap; }
.byu_tabs .byu_tab{
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  float: left;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: .8px;
  width: 15%;
  min-width: 80px; }
.byu_tabs .byu_tab a {
  color: white;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease;
  -moz-transition: color .28s ease;
  -o-transition: color .28s ease;
  -ms-transition: color .28s ease;
  transition: color .28s ease; }
.byu_tabs .byu_tab a:hover {
  color: white; }
.byu_tabs .byu_tab.disabled a {
  color: #f9c9cb;
  cursor: default; }
.byu_tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #002255;
  will-change: left, right; }
.byu_tabs li:hover a:hover {
  background-color: #628CB6;
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  -ms-transition: background-color .5s ease;
  transition: background-color .5s ease;
  /*color: #EEAA00;*/
}
.byu_dropdown-content {
  background-color: #002255;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height; }
.byu_dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none; }
.byu_dropdown-content li:hover, .byu_dropdown-content li.active, .byu_dropdown-content li.selected {
    background-color: #628CB6; }
.byu_dropdown-content li.active.selected {
  background-color: #e1e1e1; }
.byu_dropdown-content li > a, .byu_dropdown-content li > span {
  font-size: 1.2rem;
  color: #ABC8E4;
  display: block;
  padding: 1rem 1rem; }
.byu_dropdown-content li > span > label {
  top: 1px;
  left: 3px;
  height: 18px; }
.byu_dropdown-content li > a > i {
  height: inherit;
  line-height: inherit; }
.card_dropdown {
    overflow: visible !important;
}
.capital {
  text-transform: capitalize;
}
.card_container {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#checkOut {
  margin-top: .95rem;
  margin-bottom: .95rem;
}
.chem_title {
  color: white !important;
  font-size: 50px;
  width: 25%
  font-family: "Palatino Linotype","Palatino",Times,"Times New Roman",serif;
  border-color: transparent !important;
}
.container_title {
  width: 100%;
  height: 56 !important;
}
.content-body {
  min-height: 55em;
  top: 100px !important;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.dash {
  margin: 0 0 0 0 !important;
}
@media only screen and (min-width : 993px) {
  .only_large {
    display: block;
  }
}
@media only screen and (max-width : 993px) {
  .only_large {
    display: none;
  }
  h4.h3_on_med {
    font-size: 2.92rem !important;
    line-height: 110% !important;
    margin: 1.46rem 0 1.168rem 0 !important;
  }
}
.donut_pad {
  padding-bottom: 10% !important;
}
.finalize {
  margin-top: .95rem;
  margin-bottom: .95rem;
}
.footer {
  height: 5em;
  color: black;
  background-color: transparent;
  font-style: italic;
  font-size: 12px;
}
.footer p {
  margin: 0;
  padding: 0;
}
.formButton {
  margin-top: .95rem;
  margin-bottom: .95rem;
}
.formSubmit {
  margin-bottom: .95rem;
  margin-right: 1.25rem;
}
.formTitle {
  margin-left: 1.25rem !important;
}
.global_nav {
  margin-bottom: 0px !important;
  border-top: solid 1px #369;
}
#globalSearchForm {
  margin-bottom: 1.5rem;
}
.head-bar {
  background: url("../img/header-large.png");
  background-size: cover;
  width: 100%;
  border: none;
}
.head-bar nav {
  background-color: transparent;
}
i.left_dash {
  /*float: left !important;
  margin-right: -1em;*/
  top: -.5em;
}
#itemList td {
  min-height: 3em;
}
.login_btn {
  float: right;
  margin-top: 10px !important;
  margin-right: 10px;
}
.lowInv {
  top: 30px !important;
}
.main_nav {
  padding-top: 27px !important;
  display: inline;
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}
.main_nav a {
  padding: 10px;
  color: white;
  font-size: 1.2rem;
}
.marginH1 {
  margin-top: 1.46rem;
}
.marginH2 {
  margin-top: .5rem;
}
.nav_links a:hover {
  color: #EEAA00;
}
.nav_links a.active {
  color: #336699;
  background-color: white;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.no_margin {
  margin-bottom: 0px !important;
}
.no_shadow {
  box-shadow: none !important;
}
.no_padding {
  padding: 0px !important;
}
.pagination .waves-effect {
  background-color: #336699;
  color: white;
  height: 30px;
  width: 30px;
  padding: 0px;
  top: -2px;
}
.pbottom {
  padding-bottom: .95rem !important;
}
path.color0 {
  fill: #1072b8;
  transition: scale 1s ease-in-out;
  -webkit-transform:scale(1.0);
  -moz-transform:scale(1.0);
  -ms-transform:scale(1.0);
  -o-transform:scale(1.0);
   transform:scale(1.0);
   padding: 10px;
}
path.color0:hover {
  transition: scale 1s ease-in-out;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
   transform:scale(1.05);
}
path.color1 {
  fill: #35526b;
  transition: scale 1s ease-in-out;
  -webkit-transform:scale(1.0);
  -moz-transform:scale(1.0);
  -ms-transform:scale(1.0);
  -o-transform:scale(1.0);
  transform:scale(1.0);
  padding: 10px;
}
path.color1:hover {
  transition: scale 1s ease-in-out;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
   transform:scale(1.05);
}
.pushdown_help {
  position: relative;
}
.pushdown {
  top: 8rem !important;
  color: #336699;
  background-color: white !important;
  -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16) !important;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16) !important;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16) !important;}
.pushdown a:hover {
  top: 8rem !important;
  color: #336699;
}
.quantity_input{
    margin: 0px;
    padding: 0px;
}
.searchTable {
  margin-bottom: 1.5rem;
}
#secondary_nav {
  margin-top: 15px;
  margin-bottom: -8px;
}
.sortClick:hover {
  color: #336699 !important;
}
.successAlert {
  color: green;
  font-weight: bold;
  font-size: 20px;
  padding-top: .3rem;
  vertical-align: middle;
}
.title_bar {
  background: transparent !important;
  background-color: transparent !important;
}
#toggle_modal_footer {
  display: none;
}
