
#wrapper.purchase {
  margin-bottom: 60px !important;
}

.container.widescreen {
  width: 98% !important;
  padding-top: 3px !important;
}


.nav_body {
  background-color: #001948 !important;
}

.main_nav {
  background-color: #001948 !important;
  min-height: 100% !important;
  padding-top: 0 !important;
  width: 310px !important;
}

.byu_logo_nav {
  padding-left: 0 !important;
}

.byu_logo_nav_li {
  background-color: transparent !important;
}

.byu_chem_nav {
  background-color: transparent !important;
  padding-left: 68px !important;
}

.purchasing_logo_nav {
  padding-top: 18px !important;
}

.nav_tabs {
  font-weight: normal !important;
  padding-left: 45px !important;
}

.user_div_nav {
  font-weight: normal !important;
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  margin-right: 10px !important;
  background-color: transparent !important;
}

.name_nav {
  background-color: transparent !important;
}

.login_btn {
  font-weight: normal !important;
  margin-left: 15px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/*.footer {
  position:absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 60px;

}*/

.footer_link {
  cursor: pointer !important;
}

.footer_link:link {
    text-decoration: none;
}

.footer_link:visited {
    text-decoration: none;
}

.footer_link:hover {
    text-decoration: underline;
}

.all_modal {
  overflow-y: visible !important;
  position: fixed !important;
  padding-left: 0 !important;
}

/*@media screen and (min-width: 993px) {
  .main_body, .footer {
    padding-left: 310px !important;
  }
}*/

#purchaseTitle {
  width: 25% !important;
}
