.linkBox {
    border: 5px solid #193485;
    border-radius: 25px;
    padding: 25px;
    outline-style: hidden;
    margin: 10px;
    text-align: center;
}

.linkCenter {
    border: 5px solid #193485;
    border-radius: 25px;
    padding: 25px;
    outline-style: hidden;
    margin: 10px;
    transform: translate(+35%);
}

.linkLeft {
    border: 5px solid #193485;
    border-radius: 25px;
    padding: 25px;
    outline-style: hidden;
    margin: 10px;
    transform: translate(+10%);
    float: left;
}

.linkRight {
    border: 5px solid #193485;
    border-radius: 25px;
    padding: 25px;
    outline-style: hidden;
    margin: 10px;
    transform: translate(-10%);
    float: right;
}

#addItemButton {
    float: right;
    display: inline;
}

#searchForm {
    float: right;
}

.short {
    height: 1px;
}

span.bigMenu {
    font-size: 5em;
}

span.header {
    font-size: 2em;
    padding: 0px 5px 0px 0px;
}

#sRes {
    color: black;
}

#globalSearch {
    float: right;
    margin-top: 10px !important;
    margin-right: 5px;
}
