{% load static %}
{% load material_form %}
{% block extra_js %}
  <script src="{% static 'js/table_filter.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
{% endblock %}

<div class="list-margin center">

<table id="purchaseList" class="bordered highlight">
  <thead class="sortHeader">
    <th class="sortClick" data-sort="string">Description<i class="material-icons left">swap_vert</i></th>
    <th class="sortClick" data-sort="string">Status<i class="material-icons left">swap_vert</i></th>
    <th class="sortClick" data-sort="string">Amount<i class="material-icons left">swap_vert</i></th>
    <th class="sortClick sorting-desc" data-sort="int">Submission Date<i class="material-icons left">swap_vert</i></th>
    <th class="sortClick" data-sort="int">Last Modified<i class="material-icons left">keyboard_arrow_down</i></th>
    <th class="sortClick" data-sort="string">Ordered By<i class="material-icons left">swap_vert</i></th>
  </thead>
  <tbody>
    {% for purchase in purchases %}
      <tr class="listedPurchase">
        <td>
          {{purchase.basic_info.name_of_purchase}}
          <a id="print" href="{% url 'print' purchase.pk 'PR' %}"><i class= "material-icons right">print</i></a>
          <a id="pr-view" href="{% url 'prView' purchase.pk %}"><i class= "material-icons right">pageview</i></a>
          {% if purchase.get_order.status == 'CREATED'%}
          <a id="del-purchase" href="{% url 'delete' purchase.pk %}"><i class="material-icons right red-text">clear</i></a>
          <a id="edit-purchase" href="{% url 'editPurchase' purchase.pk %}"><i class="material-icons right">mode_edit</i></a>
          {% elif purchase.get_order.status == 'PENDING'%}
          <a id="del-purchase" href="{% url 'delete' purchase.pk %}"><i class="material-icons right red-text">clear</i></a>
          <a id="approval-status" href="{% url 'approvalStatus' purchase.pk  %}"><i class="material-icons right">mode_edit</i></a>
          {% endif %}
        </td>
        <td>{{purchase.get_order.status}}</td>
        <td>{{purchase.get_amount}}</td>
        <td>
          {% if purchase.get_order.submit_date%}
          {{purchase.get_order.submit_date}}
          {% endif %}
        </td>
        <td>{{purchase.last_mod}}</td>
        <td>{{purchase.user}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<ul class="pagination">
  {% if purchases.has_previous %}
    <li><a href="?page={{ purchases.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
   <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}
  {% for page_num in purchases.paginator.page_range %}
    <li class=""><a href="?page={{ page_num }}">{{ page_num }}</a></li>
  {% endfor %}
  {% if purchases.has_next %}
  <li><a href="?page={{ purchases.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
  {% else %}
    <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
  {% endif %}
</ul>

</div>
