<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js" style="height:100%;"> <!--<![endif]-->

  <head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

     {% load humanize %}

     {% load staticfiles %}
     <title>{% block meta_title %}Memorize{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
     <link rel="shortcut icon" type="image/png" href="{% static 'img/musicnote.ico' %}"/>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
     <!-- Load Jquery -->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- CUSTOM CSS FILES -->
     <link rel="stylesheet" href="{% static 'material/css/forms.css' %}"/>
     <!--<link rel="stylesheet" href="{% static 'material/css/jquery.datetimepicker.css' %}"/>-->
     <link rel="stylesheet" href="{% static 'material/css/materialize.css' %}"/>
     <link rel="stylesheet" href="{% static 'css/alex.css' %}"/>


     <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"/> -->
      <!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"/> -->
     <link rel="stylesheet" href="{% static 'css/header.css' %}"/>

     <!-- local_materialize is a POC for customizing classes/elements -->
     <link rel="stylesheet" href="{% static 'css/local_materialize.css' %}"/>

     <!-- CUSTOM JS FILES -->
     <script src="{% static 'js/base.js' %}"></script>
     <script src="{% static 'js/custom_materialize.js' %}"></script>
     <script src="{% static 'js/login.js' %}"></script>
     <!-- Stupid-Table-Sort Plugin -->
     <!-- <script src="{% static 'js/stupid-table-plugin.js' %}"></script> -->
     <script src="{% static 'js/globalSearch.js' %}"></script>


     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

     <!-- Load Materialize -->
     {% include 'material/includes/material_css.html' %}
     {% include 'material/includes/material_js.html' %}

     <!-- OUR JS -->
     <script src="{% static 'js/base.js' %}"></script>
     {% block extra_js %}

     {% endblock %}

  </head>
  <body style="min-height:100%;">
  <header class="col s12">
    {% block header %}

    <!-- End Side-nav -->

    <!-- Header for each page found with content in each app -->

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center"><img style="padding-right: .5em; padding-left:.5em"src="{% static 'img/white-notes.gif' %}">Memorize</a>
        <ul class="right">
          <li><a class="header-btn right tooltipped" style="margin-right: .5em;" data-tooltip="Homepage" href="/"><i class="header-btn material-icons">home</i></a></li>
          <li>

            {% if user.is_authenticated %}
            <a class="right-edge right  tooltipped" data-tooltip="Log Out" href="{% url 'logout' %}"><i class="header-btn material-icons">exit_to_app</i></a>
            {% else %}
            <a class="right-edge right tooltipped" data-tooltip="Log In" href="{% url 'login' %}"><i class="header-btn material-icons">person_outline</i></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
  <!-- End Header and Tabs -->
  {% endblock %}
</header>

  {% block sidenav%}
  <ul id="slide-out" class="collapsible side-nav fixed wide_400">

    <div class="my_logo">
      <img class="my_img" src="{% static 'img/choir.png'%}">
    </div>
  </li>


  <div class="log_in" style="margin: 50px;" class="center">
    {% block login %}
    {% endblock %}
  </div>
</ul>
{%endblock%}



      <!-- Login modal structure -->
      {% block modal_login %}
        <div id="login_modal" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
        </div>
      {% endblock %}

      <!-- Search modal structure -->


      <!-- Modal structure used for several modal's in code -->


      {% block stretch_modal %}
        <div id="stretch_modal" class="modal">
          <a class="right modal-action modal-close cancel-div waves-effect waves-light">
            <i class="red-text small material-icons">clear</i>
          </a>
          <div class="modal-content" id="stretch_modal_content">
              <h4>Modal Header</h4>
              <p>A bunch of text</p>
          </div>
        </div>
      {% endblock %}




      <!-- Modal structure used for any modals that are called from inside another modal -->
      {% block secondary_modal %}
        <div id="secondary_modal" class="modal all_modal">
          <a class="right modal-action modal-close cancel-div waves-effect waves-light">
            <i class="red-text small material-icons">clear</i>
          </a>
          <div class="modal-content" id="secondary_modal_content">
              <h4>Modal Header</h4>
              <p>A bunch of text</p>
          </div>
        </div>
      {% endblock %}

      <!-- Content found in other apps -->
      {% block content %}
      <div id="wrapper" class="box-parent container expand-on-small-only content-body">
        <div class="row">
          <div class="col s4"></div>
          <div class="col s8 card transparent-box">
            <div class="card-content">
              <div class="center card-title black-text">
                <h1>Guaranteed faster memorization of lyrics</h1>
              </div>
              <div class="card-body">

              </div>
            </div>
        </div>
        </div>
      </div>
      {% endblock %}
      </main>

      {% block footer %}

      {% endblock %}

  </body>
    <!-- Footer content -->



</html>
