{%extends "home.html"%}

{% load static %}
{% load material_form %}


{% block content %}

<div id="wrapper" class="box-parent container expand-on-small-only content-body">
  <div class="row">
    <div class="col s2"></div>
    <div class="col s8 card transparent-box">
      <div class="card-content">
        <div class="center card-title black-text">
          <h1>Thanks for practicing!</h1>
        </div>
        <div class="card-body">

        </div>
      </div>
  </div>
  <div class="col s2"></div>  
  </div>
</div>
{% endblock %}
