{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block login %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% form form=form %}
    {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
    {% part form.password1 prefix %}<i class="material-icons prefix">lock_outline</i>{% endpart %}
    {% part form.password2 prefix %}<i class="material-icons prefix">lock</i>{% endpart %}

    {% endform %}
    <div class="center">
      <button class="btn waves-effect waves-light" type="submit">Sign up</button>
    </div>
  </form>
{% endblock %}
