.page_header {
  /*background-color: #37474f !important;*/
  /*background-image: url("/static/img/header-bg.png");*/
  height: 64px !important;
  background-color: black;

}

.page-title {
  padding-right: 10px !important;
  font-size: 1.64rem !important;
  text-align: right !important;
}

.header-small {
  padding-right: 10px !important;
  font-size: 1.64rem !important;
  text-align: left !important;
}

@media screen and (min-width: 993px) {
  .page-title {
    padding-left: 10px !important;
    font-size: 1.64rem !important;
  }
}

.header-btn {
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 2rem !important;
  height: 64px !important;
}

.right-edge {
  margin-right: 20px !important;
}

.left-edge {
  margin-left:40px !important;
}

.wide_400 {

  width: 500px !important;
}


.my_logo {
  margin-top: 120px;
  text-align: center;
  position: relative;
}

.explain_why {
  margin:
}

.log_in{

}

.my_image {
  display: block;
}
