.form_search {
  margin: 0 !important;
}

.hover {
  cursor: pointer !important;
}

.content-body {
  padding-bottom: 30px !important;
}

.input-field.suffix input {
  position: absolute;
  transition: color .2s;
  top: 0px;
  right: 0px;
}

.input-field.suffix input.active {
  color: #26a69a;
}
